.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
ios/Flutter/.last_build_id
android/local.properties
android/.gradle/
android/app/debug
android/app/profile
android/app/release
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
